<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<title>TischTenniZ/create_account</title>
	<link type="text/css" rel="stylesheet" href="../static/SignUp.css">
	<script src="../static/jquery-3.3.1.js"></script>
</head>
<body>
	<form action="new_user" method="POST">
		<h2>Create account</h2>		
			<p>
				<label for="Email" class="floatLabel">Email</label>
				<input id="Email" name="Email" type="text">
				To receive notification when a new game score is entered
			</p>
			<p>
				<label for="nickname" class="floatLabel">Nickname</label>
				<input id="nickname" name="nickname" type="text">
				Enter your nickname, used for login and as public name on the website
			</p>
			<p>
				<label for="password" class="floatLabel">Password</label>
				<input id="password" name="password" type="password">
				<span>Enter a password longer than 8 characters</span>
				<font color="red">Enter a password different from your Zenuity or private accounts !</font> 
			</p>
			<p>
				<label for="confirm_password" class="floatLabel">Confirm Password</label>
				<input id="confirm_password" name="confirm_password" type="password">
				<span>Your passwords do not match</span>
			</p>
			<p>
				<input type="submit" value="Create My Account">
			</p>
	</form>
	<script src="../static/Login.js"></script>
</html>